extends layouts/main-layout.pug


block styles 
    link(rel="shortcut icon", href="https://img.icons8.com/?size=100&id=ZqgesvdZtgAB&format=png&color=000000", type="image/x-icon")


block content
    h1 Page Not Found